:root{
   --color-neutral-0: #ecdd87b0;
    --color-neutral-10: #93c029;
    --color-neutral-30: #fff;
    ---color-neutral-40: #f8a202;
}
*{
  
     padding: 0px;
     
     
     
   
    
}

/*Home*/

#conteiner{
   

    background-image: linear-gradient(90deg, rgb(236, 47, 34) , rgb(238, 238, 56));
    background-color: var(---color-neutral-40);
   /* background-color: rgb(172, 143, 90);*/
   /* grid-template-columns: repeat(4, 1fr);*/
    padding: 3rem 3.5rem;
    text-align: center;
}

#first-title{
    font-size: 60px;

}

.logo img {
    transform: translate(-750px, -40px);

}

.logo h3{
    text-align: left;
    transform: translate(117px, -60px);
}


nav{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: translate(76%, -15pc);
}

a:link{
    color: black;
}

a:visited{
    color: rgb(65, 61, 51);
}
 
a:hover{
    background-image: linear-gradient(120deg, rgb(162, 243, 0), rgb(255, 2, 2));
}

ul li{
    list-style: none;
    float: left;
    

}

ul a{
    border-radius: 10px;
    text-decoration: none;
    display:block;
    padding: 0.4em;
    line-height: 2em;
    font-size: 18px;
}

/*Artigo*/

.first-text{
   /* border: 1px solid gray;*/
    background-color: #dfdbdb;
    border-radius: 10px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    width: 118em;
    height: 9em;
    animation: type 4 s steps(60, end); 
    
}

.foto1{
    transform: translate(80px, 50px);
    border-radius: 10px;
}

.foto2{
    transform: translate(500px, -250px);
    border-radius: 10px;
    
}

figcaption{
    transform: translate(500px, -250px);

}

.foto3{
    transform: translate(1400px, -900px);
    border-radius: 10px;
}

.Imagens{
    border-radius: 10px;
    background-image: linear-gradient(150deg, rgb(250, 151, 4),rgb(235, 231, 27));
   /* background-color: rgb(138, 241, 241);*/

}

.botão{
    width: 15%;
    height: 10%;
    position: absolute;
    top: 60%;
    left: 10%;
    transform: translate(100px, 800px);
    
    


}
button{
    padding: 10px 10px 10px ;
    border-radius: 50px;
    background-image: linear-gradient(120deg, rgb(162, 243, 0), rgb(255, 2, 2));
    height: 50%;
    cursor: pointer;

}

.rodape1{
    position: relative;
  transform: translate(700px, -200px);
    
}

/*Sobre*/

.title-two{
    width: 50%;
    display: flex;
    top: 50%;
    right: 50%;
    transform: translate(600px, -200px);
}

iframe{
    display: block;
    

}

.maps{
    display: flex;
    transform: translate(600px, 50px);
}

.rodape{
    transform: translate(-20px, 50px);
}

/*contato*/

.ft-cont{
    display: block;
}

.desc-cont{
    border: 8px solid rgb(235, 153, 46);
    border-radius: 10x;
    transform: translate(600px, -200px);
    font-size: 20px;
    padding: 10px 10px 10px ;
    width: 600px;
    height: 150px;
     
}
    

form{

    max-width: 600px;
    width: 100%;

    border: 8px solid rgb(235, 153, 46);
 

   

    transform: translate(95%, -10%);
    padding: 15px;
    margin: 15px;
  

    font-size: large;
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    flex-direction: column;
}

#ident{
    padding: 10px;
}

input h1{
    margin-bottom: 32px;
}

.ro2{
    position: relative;
    top: -260px;
}

input{
    padding: 10px;
    margin: 10px;

}

#button{
    width: 7pc;
    transform: translate(210%, 0px);
}

    